@charset "UTF-8";

/* Botões ()*/
.button img{
    margin: 50px 15px 25px 15px;
    padding: 5px;
    border: 1px solid #eee;
    cursor: pointer;
}


/* rodapé */ 
footer {
    background-color: rgb(35, 22, 218);
    color:#eee;
    text-align: center;
    padding: 8px;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 15px;
}

footer p {
    margin: 0;
    font-family: sans-serif;
}

